<nav class="flex h-fit bg-gray-900 text-white justify-between px-5 py-2">
        <p class="flex font-bold text-nowrap "><%= pageTitle %></p>

            <!-- Hamburger -->
        <button id="nav-toggle" class="md:hidden ">
        <i class="fas fa-bars text-xl"></i>
        </button>

        <ul class="hidden flex-col md:flex md:flex-row gap-5 font-normal text-sm  absolute md:static top-10 justify-end right-0 bg-gray-900 md:bg-transparent rounded-b-xl z-50 items-center md:rounded-none p-4 w-full md:p-0" id="nav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="menu">Menu</a></li>
            <li><a href="review">Reviews</a></li>
        </ul> 
</nav>
<header class="grid bg-white h-fit">
    <div class="head flex justify-evenly max-sm:text-sm w-full items-center h-fit text-black p-5">
        <p class="font-bold text-xl max-sm:text-base text-gray-800 max-sm:text-nowrap max-sm:text-md" data-aos="fade-right">
            <% if (typeof(user) !== 'undefined') { %>
            <% let name = '' %>
             Welcome, <% for( let index = 0; index < user.name.length; index++ ) { %>
                <% if (index < 5) { %>
                 <% name += user.name[index]%>
                <% } %>
             <% } %>
             <%= name %>
            <% } else { %>
                Welcome,sir
             <% } %>
        </p>
        <div class="action flex md:gap-3 gap-1 justify-end " data-aos="fade-left"> 
           <input type="text" placeholder="Search Food.." class="input max-sm:text-sm text-center input-bordered border-gray-500 max-sm:w-[50%] rounded-full md:w-[60%] bg-white" />
        <a class="btn bg-gray-800 border-none rounded-full text-white text-center cursor-pointer w-10"><i class="fa-solid fa-magnifying-glass"></i></a>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn bg-gray-800 btn-circle avatar max-sm:scale-90">
                <div class="w-10 rounded-full">
                    <% if (typeof user !== 'undefined') { %>
                    <div class="avatar cursor-pointer">
                        <span class="rounded-full text-white p-2">
                        <%= user.name[0].toUpperCase() %>
                        </span>
                    </div>
                    <% } else { %>
                    <img style="background-color: white;"
                    alt="Tailwind CSS Navbar component"
                    src="/src/pic/User.png" />
                    <% } %>
                </div>
            </div>
            <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 text-white rounded-box z-99 mt-3 w-52 p-2 shadow">
                <li>
                <a class="justify-between">
                    Profile
                    <span class="badge badge-info badge-outline">View</span>
                </a>
                </li>
                <li><a>Checkout Pages</a></li>
                <% if ( typeof(user) !== 'undefined' ) { %>
                    <li id="logout-trigger"><a>Logout</a></li>
                <% } else { %>
                <li id="login-trigger"><a>Login</a></li>
                <% } %>
            </div> 
        </div>  
    </div>
</header>