<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="./src/output.css" rel="stylesheet">
    <link rel="stylesheet" href="/src/fontawesome.css">
    <link rel="stylesheet" href="/src/toastify/toastify.css">
    <script src="/src/toastify/toastify.js"></script>
    
</head>
<body class="bg-white max-w-screen">

    <%- include('./links') %>
        <%- body %>
    <%- include('./footer') %>

<form
  id="login-form"
  class="login fixed inset-0 z-50 items-center justify-center bg-black/40 backdrop-blur-sm hidden"
>
  <div class="card bg-gray-200 border-2 border-gray-600 max-sm:w-[70%] md:w-full max-w-sm shrink-0 shadow-2xl">
    <div class="card-body">
      <fieldset class="fieldset text-gray-800">
        <p class="flex justify-end font-black text-xl w-full cursor-pointer" id="close-btn">&times;</p>
        <p class="flex m-auto font-bold text-lg">Login</p>
        <label class="label text-gray-800">Email</label>
        <input type="email" class="input bg-gray-100" placeholder="Email" name="email" required />
        <label class="label text-gray-800">Password</label>
        <input type="password" class="input bg-gray-100" placeholder="Password" name="password" required />
        <div class="flex justify-between">
            <a class="link link-hover">Lupa password?</a>
            <a class="link link-hover" id="registration-trigger">Belum Memiliki Akun?</a>
        </div>
        <button class="btn btn-primary mt-4 cursor-pointer w-full" type="submit">Login</button>
      </fieldset>
    </div>
  </div>
</form>

<form
  id="registration-form"
  class="registration fixed inset-0 z-50 items-center justify-center bg-black/40 backdrop-blur-sm hidden"
>
  <div class="card bg-gray-200 border-2 border-gray-600 max-sm:w-[70%] md:w-full max-w-sm shrink-0 shadow-2xl">
    <div class="card-body">
      <fieldset class="fieldset text-gray-800">
        <p class="flex justify-end font-black text-xl w-full cursor-pointer" id="close-btn2">&times;</p>
        <p class="flex m-auto font-bold text-lg">Daftar Akun</p>
        <label class="label text-gray-800">Nama</label>
        <input type="text" class="input bg-gray-100" placeholder="Nama Pengguna" name="name" required/>
        <label class="label text-gray-800">Email</label>
        <input type="email" class="input bg-gray-100" placeholder="Email" name="email" required/>
        <label class="label text-gray-800">Password</label>
        <input type="password" class="input bg-gray-100" placeholder="Password" name="password" required />
        <div class="flex justify-end">
            <a class="link link-hover" id="login-rdir">Sudah Memiliki Akun?</a>
        </div>
        <button type="submit" class="btn btn-primary mt-4 cursor-pointer w-full">Registrasi</button>
      </fieldset>
    </div>
  </div>
</form>

    <script src="/src/scripts/index.js" type="module"></script>
    <script src="/src/aos/dist/aos.js"></script>
    <script>
    AOS.init({
      offset: 200,
      duration: 600,
      easing: 'ease-in-out',
      delay: 100,
    });
    </script>


</body>
</html>