    <main class="w-full flex justify-center bg-gray-200">
        <div class="interfaces flex flex-col items-center justify-center py-10 md:w-[90%] min-h-screen">
        <h2 class="font-bold underline underline-offset-4 text-2xl text-gray-800">List Menu: </h2>
        <div class="animation flex gap-3 mt-5">
            <p class="text-gray-800 font-bold">Loading</p>
            <span class="loading loading-dots bg-gray-800 loading-xl"></span>
        </div>
        <div class="information hidden">
          <% if (menu.length < 1) { %>
             <p class="flex w-full justify-center to-gray-800 font-bold"> Menu Kosong! </p>
        <% } %>
            <div class="grid grid-cols-2 px-2 md:grid-cols-3 md:gap-5 gap-2 mb-5">
                <% for( let index = 0; index < menu.length; index++ ) { %>
                    <div class="card bg-white md:px-10 p-3 rounded-md grid gap-1 md:gap-3 border-2 border-gray-500 text-black text-center" data-aos="zoom-in" data-name="<%= menu[index].menuName.toLowerCase() %>">
                    <img src="<%= menu[index].pic %>" alt="foto" class="rounded-md" id="menuPic">
                    <p class="font-bold text-gray-800" id="menuName"><%= nama = menu[index].menuName %></p>
                    <p id="menuPrice"><%= menu[index].price.toLocaleString('id-ID', {style: 'currency', currency: 'IDR'}) %></p>
                    <button class="btn pesan w-full sm:py-1 size-fit cursor-pointer rounded-md bg-gray-800 text-white"><i class="fa-solid fa-cart-shopping"></i>Pesan</button>
                    </div>
                <% } %>
            </div>
        </div>  
    </div>          
    </main>
